<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/static/styles/cover.css}">
<head>
    <meta charset="UTF-8">
    <title>Account details</title>
    <style>

    </style>
</head>

<div th:insert="navbar" style="height: 5vh; width: 100%"></div>
<body>

<div class="inner-cover" align="center">
    <h1>Account details: </h1>
    <table class="table-responsive">
        <thead>
        <tr>
        <th scope="col">User ID: </th>
        <th scope="col">Vault ID: </th>
        <th scope="col">Username: </th>
        <th scope="col">Joined at: </th>
        <th scope="col">Account expired </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${userId}"></td>
            <td th:text="${vaultId}"></td>
            <td th:text="${#authentication.getName()}"></td>
            <td th:text="${userJoinTime}"></td>
            <td th:text="false"></td>
        </tr>
        </tbody>

    </table>

</div>

</body>
<div th:insert="footer"></div>
</html>