<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/static/styles/stickyfooter.css}">
</head>

<footer class="footer">
    <div class="d-flex justify-content-around">
        <span class="text-muted">Password Manager made by Ghordrin.</span>
        <span>
            Socials:
            <a href="#" class="fa fa-twitter fa-lg"></a>
            <a href="#" class="fa fa-github fa-lg"></a>
            <a href="#" class="fa fa-linkedin fa-lg"></a>
        </span>
    </div>
</footer>
</html>