<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Vault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<div th:insert="navbar"></div>
<body>

<div align="center">
    <p>Hello, <span th:text="${#authentication.getName()}"></span></p>

    <p>Your current vault: </p>

    <div th:if="${passwordSet.isEmpty()}" th:align="center">
        <p> It seems like your password vault is empty. Would you like to add some passwords to it now? </p>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Website identifier</th>
            <th scope="col">Website password</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="password:${passwordSet}">
            <th scope="row">#</th>
            <td th:text="${password.websiteIdentifier}"></td>
            <td th:text="${password.password}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form th:action="@{/myvault/add}" method="post" th:object="${newPassword}" align="center">
        <label>Website name</label>
        <input type="text" th:field="*{websiteIdentifier}">
        <label>Website password</label>
        <input type="password" th:field="*{password}">
        <button align="center" type="submit">Add to vault</button>
    </form>

</div>
</body>
<div th:insert="footer"></div>
</html>